parameters:

services:
    -
        class: Ferror\PHPStan\Braintree\Reflection\Customer
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
    -
        class: Ferror\PHPStan\Braintree\Reflection\Discount
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
    -
        class: Ferror\PHPStan\Braintree\Reflection\Plan
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
    -
        class: Ferror\PHPStan\Braintree\Reflection\Subscription
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
    -
        class: Ferror\PHPStan\Braintree\Reflection\WebhookNotification
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
